---
export interface Props {
  title?: string;
  description?: string;
  siteName?: string;
  canonical?: string;
  ogImage?: string;
  ogType?: string;
  twitterHandle?: string;
  slug?: string;
}

const DOMAIN = "https://gonfolio.pages.dev/";
const DEFAULT_OG_IMAGE =
  "https://github.com/user-attachments/assets/18dd097f-e983-4b29-8e08-0923a561cab4";
const {
  title = "Gonfolio | My personal portfolio website built with Astro",
  description = "Software Engineering student at the UTP with a strong passion for web development and software development. I have experience using Java, C#, Javascript, Typescript, React, Tailwind and ShadCN. I love learning and sharing knowledge. 🦾",
  siteName = "Gonfolio",
  canonical = DOMAIN,
  ogImage,
  ogType = "website",
  twitterHandle = "@h4lanx",
  slug = undefined,
} = Astro.props as Props;
---

<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta
  name="viewport"
  content="minimum-scale=1, initial-scale=1, width=device-width, shrink-to-fit=no, viewport-fit=cover"
/>

<meta name="image" content="/Stock_Image_of_Doug_Dimmadome_logo.png" />
<meta name="author" content="Gonzalo Oré Chávez" />
<meta
  name="keywords"
  content="Gonzalo Oré Chávez, Software Engineer, Frontend, Web Development"
/>
<meta name="description" content={description} />
<meta name="generator" content={Astro.generator} />

<meta name="robots" content="index,follow" />
<meta name="googlebot" content="index,follow" />

<meta property="og:site_name" content={siteName} />
<meta property="og:title" content={title} />
<meta property="og:image" content={ogImage} />
<meta property="og:type" content={ogType} />
<meta property="og:description" content={description} />
<meta property="og:url" content={canonical} />

<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={canonical} />
<meta property="twitter:title" content={title} />
<meta property="twitter:creator" content={twitterHandle} />
<meta property="twitter:description" content={description} />
<meta
  property="twitter:image"
  content={slug !== undefined ? ogImage : DEFAULT_OG_IMAGE}
/>
<meta
  property="twitter:image:alt"
  content={slug !== undefined
    ? title + "Social Image"
    : "Aleksa Codes Social Image"}
/>

<link rel="canonical" href={canonical} />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

<title>{title}</title>
